<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Ryan Baermann Contact</title>
        <link rel="stylesheet" href="~/css/contact.css">
    </head>
    <body>
        <div class="header">
            <a href="">Home</a> |
            <a href="projects">Projects</a> |
            <a href="contact">Contact</a>
        </div>
        <h1>Contact Me!</h1>
        <div class="contact">
            <div class="contactInfo">
                <label for="name"> Name
                    <input class="info" type="text" name="name">
                </label><br>
                <label for="email"> Email
                    <input class="info" type="email" name="email">
                </label>
            </div>
            <label class="message" for="message">Message<br>
                <textarea class="txtarea"></textarea>
            </label><br>
            <a class="sendContact" href="/">Send</a>
        </div>
    </body>
</html>