<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Ryan Baermann Projects</title>
        <link rel="stylesheet" href="~/css/projects.css">
    </head>
    <body>
        <div class="header">
            <a href="">Home</a> |
            <a href="projects">Projects</a> |
            <a href="contact">Contact</a>
        </div>
        <h1>Here are some projects of mine!</h1>
        <div class="mainProjects">
            <div class="singleProject">
                <img src="~/image/emptyX.png">
                <div class="projContent">
                    <h3 class="title">Cool thing!</h3>
                    <p class="projDesc">Lorem ipsum dolor sit amet, sint quam exercitation, posuere ipsum velit, metus condimentum auctor mi at, tellus ullamcorper molestiae, proin pellentesque mauris erat ac ut. Diam culpa nec dui suspendisse vestibulum platea, est in, mi accumsan congue tortor viverra a, metus mauris lobortis libero pretium.</p>
                </div>
            </div>
            <div class="singleProject">
                <img src="~/image/emptyX.png">
                <div class="projContent">
                    <h3 class="title">Cool thing!</h3>
                    <p class="projDesc">Lorem ipsum dolor sit amet, sint quam exercitation, posuere ipsum velit, metus condimentum auctor mi at, tellus ullamcorper molestiae, proin pellentesque mauris erat ac ut. Diam culpa nec dui suspendisse vestibulum platea, est in, mi accumsan congue tortor viverra a, metus mauris lobortis libero pretium.</p>
                </div>
            </div>
            <div class="singleProject">
                <img src="~/image/emptyX.png">
                <div class="projContent">
                    <h3 class="title">Cool thing!</h3>
                    <p class="projDesc">Lorem ipsum dolor sit amet, sint quam exercitation, posuere ipsum velit, metus condimentum auctor mi at, tellus ullamcorper molestiae, proin pellentesque mauris erat ac ut. Diam culpa nec dui suspendisse vestibulum platea, est in, mi accumsan congue tortor viverra a, metus mauris lobortis libero pretium.</p>
                </div>
            </div>
            <div class="singleProject">
                <img src="~/image/emptyX.png">
                <div class="projContent">
                    <h3 class="title">Cool thing!</h3>
                    <p class="projDesc">Lorem ipsum dolor sit amet, sint quam exercitation, posuere ipsum velit, metus condimentum auctor mi at, tellus ullamcorper molestiae, proin pellentesque mauris erat ac ut. Diam culpa nec dui suspendisse vestibulum platea, est in, mi accumsan congue tortor viverra a, metus mauris lobortis libero pretium.</p>
                </div>
            </div>
            <div class="singleProject">
                <img src="~/image/emptyX.png">
                <div class="projContent">
                    <h3 class="title">Cool thing!</h3>
                    <p class="projDesc">Lorem ipsum dolor sit amet, sint quam exercitation, posuere ipsum velit, metus condimentum auctor mi at, tellus ullamcorper molestiae, proin pellentesque mauris erat ac ut. Diam culpa nec dui suspendisse vestibulum platea, est in, mi accumsan congue tortor viverra a, metus mauris lobortis libero pretium.</p>
                </div>
            </div>
            <div class="singleProject">
                <img src="~/image/emptyX.png">
                <div class="projContent">
                    <h3 class="title">Cool thing!</h3>
                    <p class="projDesc">Lorem ipsum dolor sit amet, sint quam exercitation, posuere ipsum velit, metus condimentum auctor mi at, tellus ullamcorper molestiae, proin pellentesque mauris erat ac ut. Diam culpa nec dui suspendisse vestibulum platea, est in, mi accumsan congue tortor viverra a, metus mauris lobortis libero pretium.</p>
                </div>
            </div>
            <div class="singleProject">
                <img src="~/image/emptyX.png">
                <div class="projContent">
                    <h3 class="title">Cool thing!</h3>
                    <p class="projDesc">Lorem ipsum dolor sit amet, sint quam exercitation, posuere ipsum velit, metus condimentum auctor mi at, tellus ullamcorper molestiae, proin pellentesque mauris erat ac ut. Diam culpa nec dui suspendisse vestibulum platea, est in, mi accumsan congue tortor viverra a, metus mauris lobortis libero pretium.</p>
                </div>
            </div>
            <div class="singleProject">
                <img src="~/image/emptyX.png">
                <div class="projContent">
                    <h3 class="title">Cool thing!</h3>
                    <p class="projDesc">Lorem ipsum dolor sit amet, sint quam exercitation, posuere ipsum velit, metus condimentum auctor mi at, tellus ullamcorper molestiae, proin pellentesque mauris erat ac ut. Diam culpa nec dui suspendisse vestibulum platea, est in, mi accumsan congue tortor viverra a, metus mauris lobortis libero pretium.</p>
                </div>
            </div>
            <div class="singleProject">
                <img src="~/image/emptyX.png">
                <div class="projContent">
                    <h3 class="title">Cool thing!</h3>
                    <p class="projDesc">Lorem ipsum dolor sit amet, sint quam exercitation, posuere ipsum velit, metus condimentum auctor mi at, tellus ullamcorper molestiae, proin pellentesque mauris erat ac ut. Diam culpa nec dui suspendisse vestibulum platea, est in, mi accumsan congue tortor viverra a, metus mauris lobortis libero pretium.</p>
                </div>
            </div>
            <div class="singleProject">
                <img src="~/image/emptyX.png">
                <div class="projContent">
                    <h3 class="title">Cool thing!</h3>
                    <p class="projDesc">Lorem ipsum dolor sit amet, sint quam exercitation, posuere ipsum velit, metus condimentum auctor mi at, tellus ullamcorper molestiae, proin pellentesque mauris erat ac ut. Diam culpa nec dui suspendisse vestibulum platea, est in, mi accumsan congue tortor viverra a, metus mauris lobortis libero pretium.</p>
                </div>
            </div>
            <div class="singleProject">
                <img src="~/image/emptyX.png">
                <div class="projContent">
                    <h3 class="title">Cool thing!</h3>
                    <p class="projDesc">Lorem ipsum dolor sit amet, sint quam exercitation, posuere ipsum velit, metus condimentum auctor mi at, tellus ullamcorper molestiae, proin pellentesque mauris erat ac ut. Diam culpa nec dui suspendisse vestibulum platea, est in, mi accumsan congue tortor viverra a, metus mauris lobortis libero pretium.</p>
                </div>
            </div>
        </div>
    </body>
</html>